.content {
  margin: 20px;
  font-family: Verdana, Arial, "sans-sarif";
  font-size: 14px;
}

img {
  border: none;
}

ol {
  list-style-type: none;
  float: left;
  padding: 0 50px 0 0;
}

ol li {
  margin: 8px 0;
  font-size: 12px;
}

ol.likes {
  list-style-type: disc;
  background-color: #EDEFF4;
  padding: 20px;
  width: 500px;
  float: none;
}

ol.likes li {
  margin: 8px;
}

p.submit {
  clear: both;
}

.nav {
  float: right;
}
.nav img {
  vertical-align: bottom;
}
.nav span {;
  font-size: 12px;
}

.errorExplanation {
  background-color: #fffadf;
  border: 1px solid #b0b0b0;
  color: #940c00;
  padding: 10px 5px;
  width: 612px;
  font-size: 12px;
}
