<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Facebook Likes</title>
    <%= javascript_include_tag :all, :recursive => true %>
    <%= stylesheet_link_tag("application") %>
  </head>

  <body>
    <div id="fb-root"></div>
    <div id="fb-app-id" style="display: none"><%=Facebook::APP_ID.to_s %></div>
    <div class="nav">
      <% if @user %>
        <span>Logged in as <%=@user.name %></span>
        <%=link_to image_tag("logout_small.gif", :alt => "Logout"), 'javascript:void(0)', {:id => 'logout', :callback => logout_url} %>
      <% end %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
  
</html>